body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

@font-face {
	font-family: Afternoon-in-stereo;
	src: url(../fonts/Afternoon-in-stereo.woff);
}

.page-wrap {
	background-image: url(../img/background-image.jpg);
	background-size: 100% auto;
	background-repeat: repeat-y;
	background-position: top center;
}


.header {
	text-align: center;
	padding-top: 40px;
}

.main-section {
	padding-top: 25px;
	padding-bottom: 25px;
	position: relative;
	z-index: 0;
}

.main-section .blot1 {
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 0px;
}

.main-section .blot2 {
	position: absolute;
	z-index: 1;
	bottom: -5%;
	right: 0;
}

.logo {
	margin-bottom: 50px;
	display: inline-block;
}

.navigation {
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
	background: #2f1b0b;
	margin: auto;
}

.link {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	padding: 10px 20px;	
}

.container {
	max-width: 1170px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	z-index: 2;
}

.text {
	font-family: 'Roboto', sans-serif;
	color: #2f1b0b;
	font-size: 30px;
	text-align: center;
	margin-top: 60px;
	padding-left: 70px;
	padding-right: 70px;
}

.text-center {
	text-align: center;
}

.drinks {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 40px;
}

.drinks img {
	max-width: 100%;
	display: inline-block;
	vertical-align: bottom;
	margin: 0 20px;
}

.wake-up-img {
	text-align: center;
	padding-top: 40px;
}

.wake-up-img img {
	display: inline-block;
	max-width: 100%;
}

.btn {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	color: rgba(255, 255, 255, 0.8);
	font-size: 60px;
	text-decoration: none;
	background: #2f1b0b;
	padding: 15px 50px;
	border-radius: 30px;
}

.section2 {
	background-image: url(../img/bgimg2.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 25px;
	padding-bottom: 25px;
	min-height: 1000px;
}

.content {
	text-align: center;
	max-width: 1170px;
	min-height: 130px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.article1 {
}

.img-wrap {
	display: inline-block;
}

.img-wrap .coffee2 {
	text-align: right;
}

.article-info {
	padding-left: 70px;
	max-width: 49%;
	display: inline-block;
	text-align: right;
}

.order {
	background-color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
	color: #e9bd91;
	font-family: 'Roboto', sans-serif;
	padding: 10px 20px;
	border-radius: 20px;
}

.article-info p {
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 0, 0, 0.8);
	font-size: 30px;
	margin-bottom: 20px;
}

.article-info h2 {
	font-family: Afternoon-in-stereo;
	font-size: 80px;
	color: rgba(0, 0, 0, 0.8);
	margin: 0;
}

.title {
	vertical-align: middle;
	display: inline-block;
	margin-top: 70px;
	position: relative;
	z-index: 0;
	padding-left: 15px;
	padding-right: 15px;
}

.title:before {
	content: '';
	background-image: url(../img/before.png);
	background-size: 100%;
	background-position: left center;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 70px;
	width: 40px;
	display: inline-block;
}

.title:after {
	content: '';
	background-image: url(../img/after.png);
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;
	display: inline-block;
	top: 0;
	right: 0;
}

.title h2 {
	font-family: 'Indie Flower', cursive;
	font-size: 70px;
	color: rgba(0, 0, 0, 0.8);
}

.article2 {
	text-align: left;
}

.article-info2 {
	max-width: 49%;
	text-align: left;
}

.article-info2 h2 {
	font-family: Afternoon-in-stereo;
	font-size: 80px;
	color: rgba(0, 0, 0, 0.8);
	margin: 0;
}

.article-info2 p {
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 0, 0, 0.8);
	font-size: 30px;
	margin-bottom: 20px;
}

.coffee2 {
	float: right;
}

.clear {
	clear: both;
}

.section3 {
	padding-top: 25px;
	padding-bottom: 25px;
	background-image: url(../img/bgimg3.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.section3 h4 {
	font-family: 'Roboto', sans-serif;
	color: #2f1b0b;
	font-size: 50px;
}

.section3 p {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: #2f1b0b;
}

.section3 h5 {
	font-family: Afternoon-in-stereo;
	margin: 50px;
	font-size: 70px;
	color: #2f1b0b;
	margin: auto;
}

.section3 h6 {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	color: #2f1b0b;
	margin: auto;
}

.section3 a {
	margin-top: 50px;
}

.section4 {
	padding-top: 25px;
	padding-bottom: 25px;
}

.section4 .text {
	margin-top: 0;

}

.img {
	max-width: 1440px;
}

.cup-left {
	display: inline-block;
	float: left;
}

.cup-right {
	display: inline-block;
	float: right;
}

.section4 h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #2f1b0b;
	font-size: 50px;
}

.section4 h5 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #2f1b0b;
	text-transform: uppercase;
	font-size: 50px;
	margin: 0;
}


h3 {
	font-family: Afternoon-in-stereo;
	font-size: 70px;
	color: #2f1b0b;
	text-align: center;
	font-weight: 400;
	margin-bottom: 0px;
	padding-bottom: 40px;
	margin-top: 70px;
}

h4 {
	font-family: Afternoon-in-stereo;
	font-size: 60px;
	color: #2f1b0b;
	text-align: center;
	font-weight: 400;
	margin-bottom: 0;
	padding-bottom: 40px;
}

.section5 {
	padding-top: 25px;
	padding-bottom: 25px;
}

.section5 h3 {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	margin-top: 0;	
	margin-bottom: 0;
	color: #2f1b0b;
	text-transform: uppercase;
}

.section5 .content {
	position: relative;
	z-index: 0;
}

.left-info {
	text-align: center;
	max-width: 70%;
}

.left-info h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #2f1b0b;
	font-size: 40px;
	padding-bottom: 0;
}

.left-info h5 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-top: 30px;
	color: #2f1b0b;
	text-transform: uppercase;
	font-size: 25px;
	margin: 0;
}

.left-info p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #2f1b0b;
}

.right-info {
	text-align: right;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.right-info img {
	max-width: 400px;
	max-height:	500px;
}

hr {
	margin: 35px 0;
	border: 1px solid #2f1b0b; 
}

footer {
	/*display: flex;
	justify-content: space-around;*/
}

.nav a {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #2f1b0b;
}


.social-media {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #d7d1cc;
}	

.social-media i {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 5px
	background-color: #2f1b0b;
}


.fab {
	margin: 0 20px;
	padding: 5px;
	border-radius: 30px;
	background-color: #2f1b0b;
}


@media screen and (max-width: 1199px) {
	.btn {
		font-size: 40px;
	}

	.wake-up-img img {
		max-width: 50%;
	}

	.section3 h4 {
		margin-top: 0;
	}

	.cup-left,
	.cup-right {
		max-width: 150px;
		max-height: 250px;
	}

	h3 {
		font-size: 60px;
	}

	.section4 h4,
	.section4 h5 {
		font-size: 40px;
	}

	.section5 h3 {
		padding-bottom: 0;
	}

	.right-info img {
		max-width: 300px;
		max-height: 400px;
	}

	.left-info h4 {
		font-size: 35px;
	}

	.left-info h5 {
		font-size: 20px;
	}
}




@media screen and (max-width: 991px) {
	.link {
		font-size: 16px;
	}

	h4 {
		font-size: 45px;
	}

	.drinks img {
		max-width: 20%;
		height: 150px;
	}

	h3 {
		font-size: 50px;
	}

	.text,
	.section3 p  {
		font-size: 25px;
	}

	.btn {
		font-size: 30px;
	}

	.section3 h4 {
		font-size: 40px;
	}

	.section3 h5 {
		font-size: 60px;
	}

	.section3 h6 {
		font-size: 35px;
	}

	.section4 h4,
	.section4 h5 {
		font-size: 35px;
	}

}




@media screen and (max-width: 767px) {
	.logo img {
		max-width: 250px;
	}

	.main-section .blot1,
	.main-section .blot2 {
		width: 300px;
		height: 400px;
	}

	.navigation {
		display: block;
	}

	h4 {
		font-size: 30px;
	}

}

@media screen and (max-width: 630px) {
	.drinks img {
		display: block;
		margin: auto;
		width: 100%;
		height: 100%;
		padding-top: 20px;
	}

	h4 {
		padding-bottom: 0;
	}

	.text, .section3 p {
		font-size: 14px;
		margin-top: 0;
	}

	h3 {
		font-size: 25px;
		margin-top: 40px;
	}

	.btn {
		font-size: 20px;
	}

	.section3 h4 {
		font-size: 25px;
		margin-bottom: 20px;
	}

	.section3 h5 {
		font-size: 35px;
	}

	.section3 h6 {
		font-size: 30px;
	}

	.cup-left,
	.cup-right {
		max-width: 90px;
		max-height: 130px;
	}

	/*.content img {
		max-width: 42px;
		max-height: 45px;
	}*/

	.section4 h4, 
	.section4 h5 {
		font-size: 30px;
	}

	.left-info {
		max-width: 100%;
	}

	.right-info img {
		display: none;
	}

	.section5 h3 {
		font-size: 40px;
	}

	.left-info p {
		font-size: 14px;
	}

	.left-info h4 {
		font-size: 25px;
	}
}